{% load static %}

<!DOCTYPE html>
<html lang="endfor">
<head>
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block style %}{% endblock style %}



    
</head>
<body dir="ltr"> 
    <div class="row">
        <div class="slidebar col-lg-2 col-md-3 slid">
            <h2>encyclopedia</h2>

            <form action="{% url 'search' %}" method="POST">
                {% csrf_token %}
                <input type="text" class="search" name="q" placeholder="Search Encyclopedia">
            </form>

            <div>
                <hr>
                <a href="{% url 'index' %}" class=".a">Home</a>
            </div>
            <div>
                <a href="{% url 'new_page' %}">
                    Creat New Page
                </a>
                
            </div>
            <div>
                <a href="{% url 'rand' %}">
                    Random Page

                </a>
                
            </div>

            {% block nav %}
            {% endblock nav %}
        </div>
        <div class="main col-lg-10 col-md-9">
            {% block body %}
            {% endblock body %}
        </div>
    </div>






</body>
</html>